.navmenu {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.navmenu:hover {
    font-weight: bold;
    border-bottom: 3px solid #fb8f1d;
}

.navbtn {
    width: 125px;
}

.btnlog {
    font-weight: bold;
}

.profile-pic{
    width: 2.8rem;
    height: 2.8rem;
    object-fit: cover;
}

.dropdown-item{
    font-size: 14px;
}

.dropdown-item:hover {
    color: #fb8f1d;
}

.btn-transparent {
    background-color: transparent;
    border: none;
    color: white;
}

.btn-transparent:hover,.btn-transparent:focus {
    background-color: transparent;
    color: white;
}